@font-face {
    font-family: 'pixelboy';
    src: url("PixeloidSansBold-GOjpP.ttf");
}
body {
    background-color: #111;
    font-family: 'pixelboy';
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    cursor: context-menu;
}
/* !  buttons section ++++++++++++++++++++++++++++++++++ */
.btn-styles {
    cursor: pointer;
    font-family: 'pixelboy';
    background-color: whitesmoke;
    color: #111;
    width: 150px;
    padding: 10px;
    font-weight: bold;
    border: none;
    transition: opacity 0.15s, transform 0.15s;
}
.btn-styles:hover {
    opacity: 0.6;
}
.btn-styles:active {
    transform: scale(0.8);
}
/* ! buttons section ---------------------------------------*/

/* todo header section ++++++++++++++++++++++++++++++++++++++*/
.top-header {
    padding: 20px;
    color: whitesmoke;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.hidden {
    display: none;
}
.modal {
    display: grid;
    place-items: center;
}
.modalpara {
    margin-inline: 1rem;
    text-align: center;
    background-color: whitesmoke;
    padding: 30px 20px;
    border-radius: 30px;
    position: absolute;
    top: 25%;
    z-index: 11;
    width: 300px;
}
.close-modal {
    position: absolute;
    left: 90%;
    top: 0.5rem;
    transition: transform 3000ms;
    border-radius: 10px;
    border: 1px solid;
    box-shadow:  0 0 4px;
    text-shadow:  0 0 4px;
}
.close-modal:active {
    transform: scale(0.5);
}
.overlay {
    background-color: #111;
    opacity: 0.5;
    backdrop-filter: blur(10px);
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
}
.center-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.center-header h1 {
    text-align: center;
    font-size: 2em;
    color: whitesmoke;
    margin-bottom: 2rem;
}
#number {
    color: #111;
    background-color: whitesmoke;
    font-size: 2em;
    width: 4em;
    height: 4em;
    display: grid;
    transition: width 0.15s;
    place-items: center;
    position: relative;
}
#number::after {
    content: '';
    position: absolute;
    width: 100vw;
    background-color: whitesmoke;
    height: 10px;
    z-index: -10;
}
#credits-button {
    margin-inline: auto;
    /* margin-left: auto; */
    /* margin-right: auto; */
}
/* todo header section ---------------------------- */
/* ? downside section +++++++++++++++++++++++++++++ */
.downside {
    display: flex;
    padding: 20px;
    padding-bottom: 80px;
    border-bottom: 5px solid whitesmoke;
    /* padding-bottom: 10px; */
    margin-bottom: 4em;
}
.downside #guess {
    cursor: insert;
    font-size: 2em;
    background-color: whitesmoke;
    font-family: 'pixelboy';
    color: whitesmoke;
    background-color: #111;
    border: 10px solid whitesmoke;
    width: 200px;
    height: 70px;
    text-align: center;
    margin-bottom: 2rem;
}
.guessing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    align-items: center;
}
.results {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: whitesmoke;
    margin-bottom: 2em;
    /* border-bottom: 10px solid whitesmoke; */
}
/* ? downside section  ----------------------------*/
/* ? footer section +++++++++++++++++*/
footer {
    text-align: center;
    color: whitesmoke;
}
footer p {
    margin-bottom: 0.5rem;
}
footer img {
    width: 50px;
    border-radius: 30px;
}
/* ? footer ----------------------- */
